/* Base */
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.list {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.link {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 1200px;
    padding: 0 16px;
    margin: 0 auto;
}

/* Header */
.header-container {
    display: flex;
    align-items: center;
}
.logo {
    display: inline-flex;
    align-items: center;
    gap: 4px;
    padding: 30px 0;
    color: var(--black, #111);
    font-size: 18px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: -0.54px;
    margin-right: auto;
}

.logo-span {
    font-style: italic;
}

.header-nav-list {
    display: flex;
    gap: 24px;
    margin-right: 90px;
}

.header-icons-list {
    display: flex;
    gap: 14px;
}

.nav-link {
    color: var(--black, #111);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: -0.28px;
    padding: 32px 0;
    display: block;
}

.nav-link:hover,
.nav-link:focus {
    color: #fd9222;
}
/* Hero section */
.section-hero {
    padding-bottom: 80px;
}
.hero-container {
    background-color: rgba(17, 17, 17, 0.7);
    padding: 40px;
    padding-top: 381px;
    border-radius: 30px;
}
.tittle-hero {
    color: #fff;
    font-size: 28px;
    font-weight: 500;
    line-height: 1.21;
    letter-spacing: -0.84px;
    max-width: 484px;
    margin-bottom: 32px;
}
.hero-buttons {
    display: flex;
    justify-content: space-between;
}
.hero-list {
    display: flex;
    gap: 14px;
}

.button-buy,
.button-how {
    padding: 14px 40px;
    border-radius: 100px;
    border: 1px solid transparent;
}
.button-buy {
    color: #fff;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background-color: var(--orange, #fd9222);
}
.button-buy:hover,
.button-buy:focus {
    background-color: #fcf1e0;
    color: #fd9222;
}
.button-how {
    color: #fff;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background-color: transparent;
}
.button-how:hover,
.button-how:focus {
    border-color: #fd9222;
    color: #fd9222;
}

.button-scroll {
    color: #fff;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.29;
    letter-spacing: -0.42px;
    background-color: transparent;
}
.button-scroll:hover,
.button-scroll:focus {
    color: #fd9222;
}

/* Benefits */
.benefits {
    background-color: #1e1823;
    padding: 50px 0;
}
.benefits-list {
    display: flex;
    justify-content: center;
    gap: 88px;
}
.benefits-item {
    width: calc((100% - 88px * 2) / 3);
}
.benefits-item-title {
    color: var(--white, #fff);
    font-size: 18px;
    font-weight: 600;
    line-height: 1.22;
    margin-bottom: 18px;
}
.benefits-item-text {
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.29;
    letter-spacing: -0.28px;
}
